<h2 id="company">Company</h2>

<hr>

<p><strong>name</strong> <br>
<em>type:</em> STRING <br>
<strong>country</strong> <br>
<em>type:</em>  INTEGER <br>
<strong>data</strong> <br>
<em>type:</em>  JSONB <br>
<strong>verified</strong> <br>
<em>type:</em> BOOLEAN <br>
<strong>Logo</strong> <br>
<em>type:</em> Logo <br>
<strong>Wallet</strong> <br>
<em>type:</em> Wallet</p>



<h2 id="logo">Logo</h2>

<hr>

<p><strong>hash</strong> <br>
<em>type:</em> STRING <br>
<strong>small</strong> <br>
<em>type:</em> STRING <br>
<strong>normal</strong> <br>
<em>type:</em> STRING <br>
<strong>big</strong> <br>
<em>type:</em> STRING <br>
<strong>original</strong> <br>
<em>type:</em> STRING</p>



<h2 id="photo">Photo</h2>

<hr>

<p><strong>hash</strong> <br>
<em>type:</em> STRING <br>
<strong>small</strong> <br>
<em>type:</em> STRING <br>
<strong>normal</strong> <br>
<em>type:</em> STRING <br>
<strong>big</strong> <br>
<em>type:</em> STRING <br>
<strong>original</strong> <br>
<em>type:</em> STRING</p>



<h2 id="wallet">Wallet</h2>

<hr>

<p><strong>count_local</strong> <br>
<em>type:</em> INTEGER <br>
<strong>count_blockchain</strong> <br>
<em>type:</em> INTEGER <br>
<strong>balance</strong> <br>
<em>type:</em> DOUBLE <br>
<strong>address</strong> <br>
<em>type:</em> STRING</p>



<h2 id="document">Document</h2>

<hr>

<p><strong>name </strong> <br>
<em>type:</em> STRING <br>
<strong>sign</strong> <br>
<em>type:</em> DATE <br>
<strong>Files</strong> <br>
<em>type:</em> File[]</p>



<h2 id="file">File</h2>

<hr>

<p><strong>uuid</strong> <br>
<em>type:</em> STRING, <br>
<strong>filename</strong> <br>
<em>type:</em> STRING <br>
<strong>mimetype</strong> <br>
<em>type:</em> STRING <br>
<strong>size</strong> <br>
<em>type:</em> INTEGER <br>
<strong>hash </strong> <br>
<em>type:</em> STRING <br>
<strong>destination </strong> <br>
<em>type: </em> STRING <br>
<strong>User</strong> <br>
<em>type:</em> User <br>
<strong>Document</strong> <br>
<em>type:</em> Document</p>



<h2 id="profile">Profile</h2>

<hr>

<p><strong>firstname</strong> <br>
<em>type:</em> STRING <br>
<strong>lastname</strong> <br>
<em>type:</em> STRING <br>
<strong>middlename</strong> <br>
<em>type:</em> STRING <br>
<strong>Photos</strong> <br>
<em>type:</em> Photo[]</p>



<h2 id="user">User</h2>

<hr>

<p><strong>email</strong> <br>
<em>type:</em> STRING <br>
<strong>password</strong> <br>
<em>type:</em> STRING <br>
<strong>confirm</strong> <br>
<em>type:</em> STRING <br>
<strong>blocked</strong> <br>
<em>type:</em> BOOLEAN <br>
<strong>deleted</strong> <br>
<em>type:</em> BOOLEAN <br>
<strong>verified</strong> <br>
<em>type:</em> BOOLEAN <br>
<strong>Profile</strong> <br>
<em>type:</em> Profile <br>
<strong>Company</strong> <br>
<em>type:</em> Company</p>



<h2 id="transaction">Transaction</h2>

<hr>
<p><strong>condition</strong> <br>
<em>type:</em> ENUM(‘active’, ‘closed’,‘broken’), <br>
<p><strong>status</strong> <br>
<em>type:</em> ENUM(‘approve’, ‘decline’, ‘pending’), <br>
<strong>type</strong> <br>
<em>type:</em> ENUM(‘local’, ‘blockchain’), <br>
<strong>Document</strong> <br>
<em>type:</em> Document <br>
<strong>OwnerTransaction</strong> <br>
<em>type:</em> Company <br>
<strong>addressBlock</strong> <br>
<em>type:</em> STRING <br>
<strong>Decisions</strong> <br>
<em>type:</em> Decision[] <br>
<strong>Conditions</strong> <br>
<em>type:</em> Condition[] <br>
<strong>Members</strong> <br>
<em>type:</em> Company</p>

<h2 id="decision">Decision</h2>

<hr>

<p><strong>action</strong> <br>
<em>type:</em> ENUM(‘approve’, ‘decline’, ‘pending’) <br>
<strong>comment</strong> <br>
<em>type:</em> STRING <br>
<strong>Company</strong> <br>
<em>type:</em> Company</p>

<h2 id="condition">Condition</h2>

<hr>

<p><strong>condition</strong> <br>
    <em>type:</em> ENUM(‘active’, ‘closed’,‘broken’) <br>
    <strong>comment</strong> <br>
    <em>type:</em> STRING <br>
    <strong>Company</strong> <br>
    <em>type:</em> Company</p>
